<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baharudin.travelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SopirActivity"
            android:exported="true" />
        <activity android:name=".ui.TicketDetailActivity" />
        <activity android:name=".ui.RestoActivity" />
        <activity android:name=".ui.TujuanActivity" />
        <activity android:name=".ui.SuccesAct" />
        <activity android:name=".ui.TicketAct" />
        <activity android:name=".ui.DestinasiActivity" />
        <activity android:name=".ui.TujuanAwalActivity" />
        <activity android:name=".ui.CheckoutActivity" />
        <activity android:name=".ui.KursiActivity" />
        <activity android:name=".ui.BusActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.PhotoActivity" />
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".onboarding.OnbardingAct" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>